{% extends 'base.html' %}

{% block content %}

<div class="card">
   <div class="card-body"><div class="chartjs-size-monitor">
   <div class="chartjs-size-monitor-expand">
   <div class="">
   </div>
   </div>
   <div class="chartjs-size-monitor-shrink"><div class="">
   </div>
   </div>
   </div>
      <h4 class="card-title">Bar chart</h4>
         <canvas id="barChartDark" style="height: 247px; display: block; width: 494px;" width="617" height="308" class="chartjs-render-monitor"></canvas>
    </div>
</div>

{% endblock %}