{% extends 'base.html' %}
{% comment %} <head>
    <script>
    alert("Done!");
    function ValidateNumeric() {
      
      var val = document.getElementById("value").value;
      var validChars = '1'; 
      if val < validChars
        return true; 
    }
                      </script>
</head> {% endcomment %}
{% block content %}
              <div class="content-wrapper"> 
                <form method="POST">
                {% csrf_token %}
                <div class="row">
                <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">ประเมิณพนักงาน</h4>
                    <p class="card-description"> </p>
                      <div class="form-group">
                        <label for="InputName">Name</label>
                        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="ชื่อ">
                      </div>
                            <br></br>
                            <br></br>
                            <br></br>
                            <br></br>
                            <br></br>
                      <div class="form-group">
                            <label for="InputComment">Comment</label>
                            <textarea id="comment" name="comment" class="form-control" rows="5" cols="60"></textarea>
                      </div>
                      <br></br>
                      <br></br>
                      <div class="form-group">
                      <label for="InputStar">Give star point
                      <br></br>
                      <br></br></label>
                      </div>
                      <div class="center">
                        <div class="form-group">
                          <div class="stars">
                            <input type="radio" id="ten" name="rate" value="10">
                            <label for="ten"></label>
                            <input type="radio" id="nine" name="rate" value="9">
                            <label for="nine"></label>
                            <input type="radio" id="eight" name="rate" value="8">
                            <label for="eight"></label>
                            <input type="radio" id="seven" name="rate" value="7">
                            <label for="seven"></label>
                            <input type="radio" id="six" name="rate" value="6">
                            <label for="six"></label>
                            <input type="radio" id="five" name="rate" value="5">
                            <label for="five"></label>
                            <input type="radio" id="four" name="rate" value="4">
                            <label for="four"></label>
                            <input type="radio" id="three" name="rate" value="3">
                            <label for="three"></label>
                            <input type="radio" id="two" name="rate" value="2">
                            <label for="two"></label>
                            <input type="radio" id="one" name="rate" value="1"required>
                            <label for="one"></label>
                            <span class="result"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                </div>
                <div class="col-6 grid-margin stretch-card">
                        <div class="mt-3" >  
                          <input type="submit" id="submit" class="btn btn-gradient-success btn-fw" name="submit" value="Submit">
                        </div>  
                </div>
                <script>
                    
                        $("#submit").click(function() {  
                        
                            if($('input[type=radio][name=rate]:checked').length == 0)
                            {
                              alert("Please give star");
                              document.getElementById("one").focus();
                              return false;
                            }    
                          
                          });
                        
                </script>
                <div>
                        {% if mgs.massage == 'Done'%}
                          <script> 
                            alert("Done!");
                          </script>
                        {%endif%} 
                </div>
                </from>
              </div>
{% endblock %}
    