{% extends 'base.html' %}

<link rel="stylesheet" href="star.css">

{% block content %}
  <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
              <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                      <form action="/action_page.php">
                        <label for="w3review">ชื่อ</label>
                            <textarea id="w3review" name="w3review" rows="1" cols="60">
                            </textarea>
                            <br></br>
                            <br></br>
                            <br></br>
                            <br></br>
                            <br></br>
                            <label for="w3review">Comment</label>
                            <textarea id="comment" name="comment" rows="5" cols="60">
                            </textarea>
                            <br></br>
                                  <div class="stars">
                                    <input type="radio" id="five" name="rate" value="5">
                                    <label for="five"></label>
                                    <input type="radio" id="four" name="rate" value="4">
                                    <label for="four"></label>
                                    <input type="radio" id="three" name="rate" value="3">
                                    <label for="three"></label>
                                    <input type="radio" id="two" name="rate" value="2">
                                    <label for="two"></label>
                                    <input type="radio" id="one" name="rate" value="1">
                                    <label for="one"></label>
                                    <span class="result"></span>
                                  </div>
                            <br></br>
                            <input type="submit" value="Submit">
                        </form>
                      </div>
                    </div>
              </div>
        </div>
  </div>
{% endblock %}
    