{% extends 'base.html' %}

{% block body %}
<div class="container-scroller">
 <div class="main-panel">
    <div class="content-wrapper">
      {% block content %}
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <form action="/action_page.php">
              <label for="w3review">ชื่อ:</label>
                <textarea id="w3review" name="w3review" rows="1" cols="60">
                </textarea>
                <br><br>
                <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
</div>   
{% endblock %}