{% extends 'base_accounts.html' %}

{% block title %}The star{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Log in</h3>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username"></input>
            </div>
            <div class="form-group">
                <label for="">Password / Pin</label>
                <input type="password" class="form-control" name="password"></input>
            </div>
            <input type="submit" value="Login" class="btn btn-primary btn-block"></button>
          </form>
          {% if aerror.x == 'Invalid Credentials. Please try again.'%}
                    <script> 
                        alert("ID/Password Wrong");
                    </script>
          {%endif%} 
        </div>
      </div>
    </div>
  </div>
{% endblock %}