{% extends 'base_accounts.html' %}

{% block content %}
<div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <h2>The star ★</h2>
                <h4 class="font-weight-light">Login</h4>
                <form class="pt-3" method="post">
                  {% csrf_token %}
                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" class="form-control" name="username"></input>
                    </div>
                    <div class="form-group">
                        <label for="">Password / Pin</label>
                        <input type="password" class="form-control" name="password"></input>
                    </div>
                  <div class="mt-3">
                    <input class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit" value="Login" class="btn btn-primary btn-block"></button>
                  </div>
                  <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input"> Keep me signed in </label>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
{% comment %} <div class="row justify-content-center">
    <div class="col-lg-6 col-md col-sm">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Log in</h3>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username"></input>
            </div>
            <div class="form-group">
                <label for="">Password / Pin</label>
                <input type="password" class="form-control" name="password"></input>
            </div>
            <input type="submit" value="Login" class="btn btn-primary btn-block"></button>
          </form>
          {% if aerror.x == 'Invalid Credentials. Please try again.'%}
                    <script> 
                        alert("ID/Password Wrong");
                    </script>
          {%endif%} 
        </div>
      </div>
    </div>
 </div> {% endcomment %}
{% endblock %}